.slider {
  height: 30px;
  border: 2px solid var(--red);
  border-radius: 20px;
  width: 150px;
}

.thumb {
  background-color: var(--red);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 20px;
}

.slider.green {
  border: 2px solid var(--green);
}
.slider.green .thumb {
  background-color: var(--green);
}
.settings-container {
  display: grid;
  grid-auto-flow: column;
  column-gap: 25px;
}
.sliders-back {
  display: grid;
  grid-template-columns: auto auto;
}
