.ant-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the modal content */
.ant-modal-content {
  padding: 20px; /* Adjust as needed */
}

/* Add space between input fields */
.input-container {
  margin-bottom: 20px; /* Adjust as needed */
}

/* Style the input fields */
.input-container .ant-input {
  margin-top: 10px; /* Adjust as needed */
  padding: 10px; /* Adjust as needed */
}

.input-container {
  margin-bottom: 20px; /* Adjust as needed */
}

.input-label {
  display: block;
  margin-bottom: 5px; /* Adjust as needed */
  font-weight: bold;
}

.date-picker {
  margin-left: 10px; /* Ajusta según sea necesario */
}

.time-picker {
  margin-top:10px;
}

.my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-modal-content {
  background: white;
  padding: 20px;
  border-radius: 2px;
  width: 50%;
  max-width: 500px;
}

.my-modal-content .my-input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 17px;
}

.custom-modal-task-button {
  background-color: #a87131;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 30px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.custom-modal-task-button:hover {
  background-color: #45a049;
}

.task-modal-edit-btn {
  background-color: inherit;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 30px;
  cursor: pointer;
  transition-duration: 0.4s;
}
