/* .grid-c-title h3 {
  color: black;
  align-self: center;
} */

.grid-c3 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: start;
}

.grid-c3 .TaskModal {
  position: absolute;
  right: 0;
  bottom: 5px;
}

.grid-c3 h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  align-items: center;
}

.task-description {
  font-size: 0.9em; /* Make the text smaller */
  color: #332929; /* Make the text grey */
  padding-left: 11px;
}

.grid-c3 p {
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0px;
  padding: 1px;
  text-decoration: solid;
}

.title-todoist {
  /* Titulo en el medio de la tarjeta */
  display: flex;
  justify-content: center;
  align-items: center;
}
