/* grid c3 */
.grid-c3 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.grid-c3 .card-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
