
// Paleta de colores
$rosa-suave: #F4D9E9;
$lila-claro: #CBA3CC;
$lavanda: #A899C3;
$rosa-pastel: #F9CEE2;
$morado-palido: #D4C4E3;

// Temas de colores
$primary-color: $rosa-suave;
$secondary-color: $lila-claro;
$highlight-color: $lavanda;


$font-size: 16px;