.css-dev-only-do-not-override-dkbvqv .ant-btn {
  color: #142d4c !important;
}
.container-wallet {
  color: #142d4c;
  display: grid;
  grid-column: auto;
  padding: 20px;
  font-size: 18px;
  max-width: 400px;
  justify-content: center;
}

.transactionList {
  width: 100%;
  margin-top: 30px;
  padding-top: 20px;
  border: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  max-height: 180px;
  overflow-y: auto;
}

.transactionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #142d4c;
}

.transactionForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.transactionInput {
  padding: 8px;
  margin-bottom: 10px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.add-button {
  cursor: pointer;
  background-color: #142d4c;
  color: #f5d9ea;
  border: none;
  border-radius: 4px;
  font-size: 16px;
}

.button.primary {
  background-color: #142d4c;
  color: #f5d9ea;
}

.totals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.transaction-description {
  color: #142d4c;
  display: flex;
  justify-content: center;
  text-align: center;
}
.transaction-amount {
  color: #142d4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.transaction-type.expense {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.transaction-type.income {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.difference.positive {
  color: green;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.difference.negative {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.difference.zero {
  color: #142d4c;
}
.button.expense {
  background-color: white; /* Color de fondo blanco */
  color: #142d4c; /* Color del texto negro */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno */
  margin-right: 8px; /* Margen derecho */
  cursor: pointer; /* Cursor de apuntar */
  border-radius: 4px; /* Borde redondeado */
}

.button.expense.active {
  background-color: #ff6347; /* Cambia el color de fondo a rojo cuando está activo */
  color: white; /* Color del texto blanco */
}

.button.income {
  background-color: white; /* Color de fondo blanco */
  color: #142d4c; /* Color del texto negro */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno */
  cursor: pointer; /* Cursor de apuntar */
  border-radius: 4px; /* Borde redondeado */
}

.button.income.active {
  background-color: #32cd32; /* Cambia el color de fondo a verde cuando está activo */
  color: white; /* Color del texto blanco */
}