/* *{
  margin: 0;
  padding: 0;
  font-family: arial;
  color: #fff;
}
body{
  width: 100vw;
  height: 100vh;
  background: #081b29;
  display: grid;
  justify-content: center;
  align-content: center;
} */
::-webkit-input-placeholder {
  color: #ececec;
}
.wrapper-register {
  position: relative;
  width: 800px;
  height: 55vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 3px solid #2a72f8;
  box-shadow: 0 0 50px 0 #2d2af8;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #385170;
}
.form-register {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-register {
  font-size: 35px;
  color: #9fd3c7;
}
.inp-register {
  padding-bottom: 10px;
  border-bottom: 2px solid #ececec;
  color: #142d4c;
}
.input-register {
  border: none;
  outline: none;
  background: none;
  width: 260px;
  margin-top: 40px;
  padding-right: 10px;
  font-size: 20px;
  color: #ececec;
}
.submit-register {
  border: none;
  outline: none;
  width: 288px;
  margin-top: 25px;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 40px;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(45deg, #ececec, #142d4c);
  color: #ececec;
}
.footer-register {
  margin-top: 30px;
  letter-spacing: 0.5px;
  font-size: 17px;
  color: #ececec;
}
.link-register {
  color: #9fd3c7;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.banner-register {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 390px;
  background: linear-gradient(to right, #ececec, #142d4c);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
  padding-right: 70px;
  text-align: right;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-top-right-radius: 20px;
  background-color: #142d4c;
}
.wel_text-register {
  font-size: 40px;
  margin-top: -50px;
  line-height: 50px;
  color: #142d4c;
}
.para-register {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}
/* .signup {
  
} */
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto hace que el contenedor ocupe toda la altura de la pantalla */
}
