.flip {
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  transition: 0.5s;
  width: 90%;
  height: 90%;
}

.flip.flipped {
  transform: rotateY(-180deg);
}

.flip .face {
  
  backface-visibility: hidden;
  font-family: Georgia;
}

.flip .front {
  z-index: 1;
  cursor: pointer;
  position: relative;
  top: 25%;
}

.flip .back {
  transform: rotateY(-180deg);
  cursor: pointer;
  z-index: 2;
  position: relative;
  top: -25%;
}
.flip-icon {
  color: black;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 3;
}
