.weather-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  height: 100%;
  width: 100%;
}

/* .weather-today {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
} */

.weather-city {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-start;
  padding: 1em;
}
.temperature-info {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
.degrees {
  display: block;
  margin-top: 8em;
}

.temp_range {
  display: block;
  margin-top: 0.5em;
}

.principal {
  display: flex;
  align-items: center;
}

.weather-icon img {
  height: 60px;
}
