.weather-panel-back {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  height: 100%;
  width: 100%;
}

/* .weather-today-back {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
} */

.weather-city-back {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: #142d4c;
}
.temperature-info-back {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.degrees-back {
  display: block;
  margin-top: 4em;
  font-size: 25px;
  color: #142d4c;
  font-weight: bold;
}
.description-back {
  font-size: 1.5em;
}

.temp_range-back {
  display: block;
  margin-top: 0.5em;
  font-size: 25px;
  color: #142d4c;
}

.principal-back {
  display: flex;
  align-items: center;
  margin-top: 0.5em;
  color: #142d4c;
  font-weight: bold;
  font-size: 2em;
}

.weather-icon-back img {
  height: 100px;
  margin-top: 1em;
}

.weather-input {
  width: 70%;
  border-radius: 12px;
  text-align: center;
}
@import url("https://fonts.googleapis.com/css?family=Chivo:700");
@keyframes float {
  from {
    transform: translateY(0.5em);
  }
  to {
    transform: translateY(-0.5em);
  }
}
.ghost-container {
  position: relative;
  animation: float 3s infinite alternate;
  top: 58px;
}
.chat-buble {
  position: absolute;
  width: 100%;
  color: white;
  left: 50%;
  bottom: 100%;
  text-align: center;
  transform: translateY(-50%);
  margin-bottom: 5em;
  font-family: "Chivo";
}

.weather-panel-back input {
  background-color: #142d4c;
  font-size: 0.8em;
  font-family: "Chivo";
  padding: 1em;
  border: none;
  border-radius: 0.2em;
  outline: none;
  transition: background 0.3s;
}
.weather-panel-back input::placeholder {
  color: #9fd3c7;
}

.ghost {
  background: white;
  color: white;
}

.ghost * {
  transition: all 0.3s;
}

.ghost > * {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
}
.torso {
  width: 4em;
  height: 6em;
  background: inherit;
  border-radius: 100px;
  box-shadow: 0 0 12px #424242;
  transform: translate(-50%, 50px);
  transition: all 0.3s background 0.4s 0.1s;
  z-index: -1;
}
.face {
  margin-bottom: 1em;
  background: none;
}
.face .eyes-l,
.face .eyes-r {
  width: 0.7em;
  height: 0.7em;
  background: #333;
  border-radius: 100%;
  position: absolute;
  bottom: 10px;
}
.face .eyes-l {
  right: 4.2em;
}
.face .eyes-r {
  left: 4.2em;
}
.face .mouth {
  width: 0.5em;
  height: 0.3em;
  position: absolute;
  border-radius: 50px;
  border: 0.2em solid #333;
  border-top: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  left: 4.6em;
}
.face .mouth--open {
  border-top: 0.2em solid #333;
  height: 0.2em;
}
.hands-r,
.hands-l {
  width: 0.8em;
  height: 1.5em;
  background: white;
  border-radius: 100px;
  box-shadow: 0 4px 4px #3333334d;
}

.hands-r {
  transform: translate(1.5em, 1em);
}
.hands-l {
  transform: translate(-1.5em, 2.5em);
}
.legs {
  width: 4em;
  height: 1em;
  background: inherit;
  top: 100%;
  box-shadow: 0 0 12px #424242;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
}
.weather-panel-back input:focus {
  background: white;
}
.weather-panel-back input:focus + .ghost {
  background: #142d4c;
  color: transparent;

  & .torso {
    transform: translate(-50%, 42px) scaleY(0.9);
  }
  & .eyes * {
    background: #ffffff99;
  }
  & .face {
    transform: translate(-50%, 0.4em);
  }
  & .mouth {
    transform: scaleY(0.6);
    border-color: #ffffff99;
  }
  & .hands {
    transform: translate(-50%, 0.2em);
  }
  & .hands * {
    background: #142d4c;
  }
  & .legs {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 0.6em;
    transform: translateX(-50%) scaleY(0.85);
    transform-origin: top;
  }
}
