@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  // padding: 0;
  margin: 0;

}

:root {
  --clr-primary: #F4D9E9;
  --clr-primar-light: #473b33;
  --clr-secondary: #A899C3;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-pumpkin: #fe6c00;
  --clr-silver: #a8a5a6;
  --clr-silver-v1: #bdbabb;
  --clr-scarlet: #fe1e00;
  --clr-scarlet-v1: rgb(254, 30, 0, 0.79);
  --clr-green: #00fe93;
  --clr-yellow: #fec80a;
  --clr-jet: #302924;
  --clr-peach: #ffc397;
  --font-family-bai: "Bai Jamjuree", sans-serif;
  --transition-default: all 300ms ease-in-out;
}

body {
  font-family: var(--font-family-bai);
}

ul {
  list-style-type: none;
}
a {
  color: unset;
  text-decoration: none;
  color: var(--clr-white);
}
// button {
//   background-color: transparent;
//   border: none;
//   cursor: pointer;
// }

.img-fit-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-white {
  color: var(--clr-white);
}
.text-silver-v1 {
  color: var(--clr-silver-v1);
}
.text-scarlet {
  color: var(--clr-scarlet);
}
.text-green {
  color: var(--clr-green);
}
.bg-jet {
  background: var(--clr-jet);
}

.text-sm {
  font-size: 14px;
}

.app {
  display: flex;
  min-height: 100vh;
}

/* commons */
.lg-value {
  font-size: 24px;
  font-weight: 600;
}
.grid-common {
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
  padding: 24px;
}
.grid-c-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.grid-c-title-text {
  font-weight: 400;
  color: var(--clr-silver);
}
.grid-c-title-icon img {
  width: 24px;
}

@media screen and (max-width: 1400px) {
  .grid-common {
    padding: 16px;
  }
  body {
    font-size: 14px !important;
  }
}

.main-content {
  background-color: var(--clr-secondary);
  flex: 1;
  padding: 32px;
}

@media screen and (max-width: 1400px) {
  .main-content {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (max-width: 1200px) {
  .main-content {
    padding-right: 16px;
    padding-left: 16px;
  }
}

/* main content holder */
.main-content-holder {
  display: grid;
  row-gap: 20px;
}
.content-grid-one {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
}
.content-grid-two {
  display: grid;
  grid-template-columns: 28ch auto;
  column-gap: 16px;
}

.subgrid-two {
  display: grid;
  row-gap: 20px;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .content-grid-one,
  .content-grid-two {
    column-gap: 12px;
  }
  .main-content-holder,
  .subgrid-two {
    row-gap: 12px;
  }
}

@media screen and (max-width: 992px) {
  .content-grid-one {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 12px;
  }
  .content-grid-two {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-grid-two .grid-two-item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .content-grid-two .grid-two-item:nth-child(3) .subgrid-two {
    grid-template-columns: repeat(2, 1fr);
    height: 220px;
    column-gap: 12px;
  }
  .content-grid-two {
    row-gap: 12px;
  }
}

@media screen and (max-width: 768px) {
  .content-grid-one {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
  .content-grid-two {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0;
  }
  .content-grid-two .grid-two-item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .content-grid-two .grid-two-item:nth-child(3) .subgrid-two {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
  }
  .content-grid-two .grid-two-item:nth-child(3) .subgrid-two .subgrid-two-item {
    height: 220px;
  }
}
